html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(114, 240, 162);
    text-align: center;
}
h1 {
    font-size: 25px;
    color: rgb(7, 85, 37);
}

h2 {
    font-size: 20px;
    color: rgb(1, 161, 63);
}

h3 {
    font-size: 16px;
    color: rgb(99, 160, 49);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

table{
    width: 50%;
    margin-left: 325px;
}

th {
    background-color: rgb(6, 155, 81);
    color: black;
}

figcaption {
    color: rgb(0, 0, 0);
    font-style: arial;
    padding: 0px;
    text-align: auto;
}
