html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(163, 182, 219);
    text-align: center;
}
h1 {
    font-size: 25px;
    color: darkblue;
}

h2 {
    font-size: 20px;
    color: steelblue;
}

h3 {
    font-size: 16px;
    color: darkslateblue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

table{
    width: 50%;
    margin-left: 325px;
}

th {
    background-color: cornflowerblue;
    color: black;
}

figcaption {
    color: rgb(0, 0, 0);
    font-style: arial;
    padding: 0px;
    text-align: auto;
}
