html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(173, 130, 50);
    text-align: center;
}
h1 {
    font-size: 25px;
    color: rgb(77, 54, 11);
}

h2 {
    font-size: 20px;
    color: rgb(129, 99, 33);
}

h3 {
    font-size: 16px;
    color: rgb(68, 46, 4);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

table{
    width: 50%;
    margin-left: 325px;
}

th {
    background-color: rgb(250, 171, 0);
    color: black;
}

figcaption {
    color: rgb(0, 0, 0);
    font-style: arial;
    padding: 0px;
    text-align: auto;
}
